body{
    font-family: 'Poppins', sans-serif;
}
.display-flex{
    display:flex;
    margin-bottom: 20px;
    padding-left: 5%;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
h1{
    font-size: 60px;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}
.orange{
    color: orange;
}